:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #5cb5ff, #db53fd);


}
:root {
    --vp-c-brand-1: #646cff;
    --vp-c-brand-2: #cf1a1a;
}